@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.gregdigital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lettre {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  letter-spacing: 15px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

.container {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@-webkit-keyframes flash {
  0% {
    color: #ffffff;
  }
  90% {
    color: #ffffff28;
    text-shadow: none;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes flash {
  0% {
    color: #ffffff;
  }
  90% {
    color: #ffffff28;
    text-shadow: none;
  }
  100% {
    color: #ffffff;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
  z-index: -10;
}

/*
.mask {
  visibility: hidden;
  position: relative;

  overflow: hidden;
}
*/
.true {
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  p {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 440px) {
  .lettre {
    font-size: 2em;
  }
}

header {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
}

header .t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .t nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .t nav ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  margin-right: 2em;
}

header .t nav ul a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
}

header .t nav ul a:hover {
  color: #FFE990;
}

header .t nav ul a::after {
  content: url(../img/hover.svg);
  width: 100%;
  background-size: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

header .t nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media only screen and (max-width: 990px) {
  header .menu_toggle {
    height: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    z-index: 999;
    padding: 5px;
  }
  header .active .oneRod {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
  }
  header .active .twoRod {
    opacity: 0;
  }
  header .active .threeRod {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  header .oneRod,
  header .twoRod,
  header .threeRod {
    background: #FFE990;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 25px;
    height: 3px;
    margin: 6px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  header .t {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }
  header .t.overlay {
    display: block;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 100vh;
    width: 100vw;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    position: absolute;
    left: 53%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header nav ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    margin-bottom: 3em;
    color: white;
    font-size: 0.9em;
    font-family: "Nunito", sans-serif;
    margin-right: 2em;
  }
  header nav ul li img {
    width: 16px;
    height: 16px;
    margin-right: 1em;
  }
}

.home {
  height: 100vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home #writer {
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home .border_radius {
  border-radius: 50%;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .share {
  z-index: 9;
  position: fixed;
  right: 15px;
  bottom: 50%;
}

.home .share span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: block;
  margin-bottom: 1em;
  color: white;
}

.home .share .fa-brands {
  color: #FFE990;
  font-size: 1.2em;
}

.home .frame_right img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 990px) {
  .home #svg {
    width: 343px;
    left: 50%;
  }
  .home .frame_left {
    top: 54%;
  }
}

@media only screen and (max-width: 448px) {
  .home {
    height: 100vh;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .home #writer {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}

.container_apropos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container_apropos .glass {
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 2em;
}

.container_apropos .glass .apropos_prensentation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_apropos .glass .apropos_prensentation_container .apropos_titre {
  width: 45%;
}

.container_apropos .glass .apropos_prensentation_container .apropos_titre h2 {
  font-family: "Roboto", sans-serif;
  opacity: 0.3;
  font-size: 7em;
}

.container_apropos .glass .apropos_prensentation_container .apropos_titre p {
  font-family: "Roboto", sans-serif;
  opacity: 0.5;
  font-size: 3em;
}

.container_apropos .glass .apropos_prensentation_container .apropos_presentation {
  width: 45%;
}

.container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who img {
  background-color: rgba(255, 255, 255, 0.563);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who h3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2em;
}

.container_apropos .glass .apropos_prensentation_container .apropos_presentation p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 2;
}

.container_apropos .glass .container_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_apropos .glass .container_skills .skills {
  width: 45%;
}

.container_apropos .glass .container_skills .skills h2 {
  font-family: "Roboto", sans-serif;
  opacity: 0.3;
  font-size: 7em;
}

.container_apropos .glass .container_skills .logo_skills {
  width: 45%;
}

.container_apropos .glass .container_skills .logo_skills h2 {
  font-family: "Roboto", sans-serif;
  opacity: 0.3;
  font-size: 2em;
  margin-bottom: 1em;
}

.container_apropos .glass .container_skills .logo_skills .logo-dev, .container_apropos .glass .container_skills .logo_skills .logo-design, .container_apropos .glass .container_skills .logo_skills .logo-gest, .container_apropos .glass .container_skills .logo_skills .logo-os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_apropos .glass .container_skills .logo_skills .logo-dev img, .container_apropos .glass .container_skills .logo_skills .logo-design img, .container_apropos .glass .container_skills .logo_skills .logo-gest img, .container_apropos .glass .container_skills .logo_skills .logo-os img {
  margin-bottom: 2em;
  margin-right: 2em;
}

@media only screen and (max-width: 990px) {
  .container_apropos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container_apropos .glass {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
    width: 100%;
  }
  .container_apropos .glass .apropos_prensentation_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre {
    width: 100%;
    margin-bottom: 2em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 6em;
    text-align: center;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre p {
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
    font-size: 3em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation {
    width: 100%;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who img {
    background-color: rgba(255, 255, 255, 0.563);
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 2em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2;
  }
  .container_apropos .glass .container_skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_apropos .glass .container_skills .skills {
    width: 100%;
  }
  .container_apropos .glass .container_skills .skills h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 7em;
  }
  .container_apropos .glass .container_skills .logo_skills {
    width: 100%;
  }
  .container_apropos .glass .container_skills .logo_skills h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .container_apropos .glass .container_skills .logo_skills .logo-dev, .container_apropos .glass .container_skills .logo_skills .logo-design, .container_apropos .glass .container_skills .logo_skills .logo-gest, .container_apropos .glass .container_skills .logo_skills .logo-os {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_apropos .glass .container_skills .logo_skills .logo-dev img, .container_apropos .glass .container_skills .logo_skills .logo-design img, .container_apropos .glass .container_skills .logo_skills .logo-gest img, .container_apropos .glass .container_skills .logo_skills .logo-os img {
    margin-bottom: 2em;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 440px) {
  .container_apropos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container_apropos .glass {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
    width: 100%;
  }
  .container_apropos .glass .apropos_prensentation_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre {
    width: 100%;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 4em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_titre p {
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
    font-size: 1.5em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation {
    width: 100%;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who img {
    background-color: rgba(255, 255, 255, 0.563);
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation .apropos_who h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 2em;
  }
  .container_apropos .glass .apropos_prensentation_container .apropos_presentation p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2;
  }
  .container_apropos .glass .container_skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_apropos .glass .container_skills .skills {
    width: 100%;
  }
  .container_apropos .glass .container_skills .skills h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 4em;
  }
  .container_apropos .glass .container_skills .logo_skills {
    width: 100%;
  }
  .container_apropos .glass .container_skills .logo_skills h2 {
    font-family: "Roboto", sans-serif;
    opacity: 0.3;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .container_apropos .glass .container_skills .logo_skills .logo-dev, .container_apropos .glass .container_skills .logo_skills .logo-design, .container_apropos .glass .container_skills .logo_skills .logo-gest, .container_apropos .glass .container_skills .logo_skills .logo-os {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_apropos .glass .container_skills .logo_skills .logo-dev img, .container_apropos .glass .container_skills .logo_skills .logo-design img, .container_apropos .glass .container_skills .logo_skills .logo-gest img, .container_apropos .glass .container_skills .logo_skills .logo-os img {
    margin-bottom: 2em;
    margin-right: 2em;
  }
}

.realisation h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  opacity: 0.3;
  font-size: 7em;
  padding-top: 0.5em;
}

.realisation h2 {
  font-family: "Roboto", sans-serif;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 3em;
  margin: 1em 0 1em 0.5em;
}

.realisation .text_realisation {
  width: 70%;
  font-size: 0.9em;
  margin: 4em auto 4em auto;
  text-align: justify;
}

.realisation .container_realisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.realisation .right {
  margin-bottom: 5em;
}

.realisation .right img {
  border-radius: 35px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.realisation .right img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 900px) {
  .realisation .container_realisation {
    margin-top: 4em;
    display: block;
    -webkit-transform: none;
            transform: none;
  }
  .realisation .right {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  .realisation .right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

@media only screen and (max-width: 440px) {
  .realisation h1 {
    font-size: 4em;
  }
}

.contact {
  height: 100vh;
}

.contact h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  opacity: 0.3;
  font-size: 7em;
}

.contact form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.contact .formData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #FFE990;
  height: 62px;
  border-radius: 42px;
  padding: 16px 30px;
  border: 4px solid #72D1EC;
  font-size: inherit;
  cursor: auto;
  margin-bottom: 2em;
}

.contact textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  resize: none;
}

.contact #message {
  padding: 1em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #FFE990;
  height: 100px;
  border-radius: 42px;
  padding: 16px 30px;
  border: 4px solid #72D1EC;
  font-size: inherit;
  cursor: pointer;
  margin-bottom: 2em;
}

.contact #message::-webkit-input-placeholder {
  text-align: center;
}

.contact #message:-ms-input-placeholder {
  text-align: center;
}

.contact #message::-ms-input-placeholder {
  text-align: center;
}

.contact #message::placeholder {
  text-align: center;
}

.contact input[type="text"], .contact input[type="tel"],
.contact textarea {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #FFE990;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.contact .errorText {
  font-family: "Nunito", sans-serif;
  color: red;
  font-size: 12px;
  display: inline-block;
}

.contact .validText {
  font-family: "Nunito", sans-serif;
  color: red;
  font-size: 12px;
  display: inline-block;
}

.contact .text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.contact .spanError {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 0.8em;
  color: #e54858;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .spanOk {
  display: none;
  font-family: "Nunito", sans-serif;
  font-size: 0.8em;
  color: #2e7b31;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact input[type="submit"] {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #FFE990;
  background-color: transparent;
  padding: 0.5em;
  width: 50%;
  cursor: pointer;
  border-radius: 20px;
}

.contact .button-area {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .contact form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
  }
}

@media only screen and (max-width: 740px) {
  .contact h1 {
    font-size: 5em;
  }
  .contact form {
    width: 95%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 440px) {
  .contact {
    height: auto;
    margin-bottom: 4em;
  }
  .contact h1 {
    font-size: 4em;
  }
  .contact form {
    width: 95%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

footer img {
  width: 50px;
}

footer span {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

footer span:nth-child(1) {
  margin-right: 1em;
}

footer .span_positif {
  margin-left: 1em;
}

footer .follow .fa-brands {
  position: absolute;
  top: 45%;
  translate: -40% 0;
  right: 25px;
  font-size: 1.4em;
}

footer .mention {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 0.7em;
  text-decoration: none;
  display: block;
}

footer .copyright {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 0.7em;
  text-decoration: none;
  display: block;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lightbox {
  margin: 0;
  display: none;
  place-items: center;
  z-index: 1000;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.058), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  overflow: auto;
  -webkit-animation: lightbox 0.5s;
          animation: lightbox 0.5s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.close {
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  left: 95%;
  top: 60px;
  cursor: pointer;
  -webkit-animation: lightbox 0.5s;
          animation: lightbox 0.5s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@-webkit-keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont {
  width: 80vw;
  margin-top: 5em;
}

.image-container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
}

.image-container .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px white;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.image-container .presentation .titre h1 {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  font-size: 4em;
}

.image-container .presentation .titre h2 {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
}

.image-container .presentation img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-container .pBorder {
  font-family: "Roboto", sans-serif;
  color: white;
  border-bottom: solid 1px white;
  padding-bottom: 2em;
  margin-bottom: 2em;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
}

.image-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 2em;
}

.image-container .presentation_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-container .presentation_id .identite {
  width: 50%;
}

.image-container .presentation_id .identite h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.image-container .presentation_id .identite p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
}

.image-container .presentation_id img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.image-container .card_visit {
  border-bottom: solid 1px white;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.image-container .card_visit h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.image-container .card_visit .card_visit_id p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
  margin-bottom: 2em;
}

.image-container .card_visit .card_visit_id .card_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert-layer;
          flex-direction: revert-layer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-container .card_visit .card_visit_id .card_img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  padding: 1em;
}

.image-container .site h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.image-container .site img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5em;
}

.image-container .site p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
  margin-bottom: 5em;
}

.lightbox-close {
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 0;
}

main {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.h1_projet {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  font-size: 3em;
}

.h2_projet {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 1em;
  border-top: solid 1px white;
  padding-top: 1em;
}

.h3_projet {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 40px;
  margin-bottom: 1em;
}

.p_projet {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-bottom: 2em;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
}

.li_projet {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
}

.fa-brands.fa-github {
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
  .close {
    left: 89%;
    top: 60px;
  }
  .image-container {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
  .image-container .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: solid 1px white;
    padding-bottom: 5em;
    margin-bottom: 5em;
  }
  .image-container .presentation .titre h1 {
    margin-bottom: 0.5em;
    font-family: "Roboto", sans-serif;
    opacity: 0.7;
    font-size: 3em;
  }
  .image-container .presentation .titre h2 {
    margin-bottom: 0.5em;
    font-family: "Roboto", sans-serif;
    opacity: 0.7;
    font-size: 2em;
    font-weight: 200;
    text-transform: uppercase;
  }
  .image-container .presentation img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 3em;
  }
  .image-container .pBorder {
    font-family: "Roboto", sans-serif;
    color: white;
    border-bottom: solid 1px white;
    padding-bottom: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 2;
  }
  .image-container h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 2em;
  }
  .image-container .presentation_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-container .presentation_id .identite {
    margin-bottom: 5em;
    width: 100%;
  }
  .image-container .presentation_id .identite h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .image-container .presentation_id .identite p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 2;
  }
  .image-container .presentation_id img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
  }
  .image-container .card_visit {
    border-bottom: solid 1px white;
    padding-bottom: 5em;
    margin-bottom: 5em;
  }
  .image-container .card_visit h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .image-container .card_visit .card_visit_id p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 2em;
  }
  .image-container .card_visit .card_visit_id .card_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: revert-layer;
            flex-direction: revert-layer;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .image-container .card_visit .card_visit_id .card_img img {
    padding: 1em;
  }
  .image-container .site h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .image-container .site img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5em;
  }
  .image-container .site p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 5em;
  }
  .h1_projet {
    font-size: 2em;
  }
}

header {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
}

.mentions_legales {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.mentions_legales .frame_right img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.description_mentions {
  width: 100vw;
  position: relative;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 5em;
}

.description_mentions h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
}

.description_mentions p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: white;
  margin-bottom: 1em;
}

.description_mentions h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  color: white;
  margin-bottom: 1em;
}

.description_mentions .p_mentions {
  font-size: 1em;
  color: white;
  margin-bottom: 1em;
  line-height: 1.5em;
}
/*# sourceMappingURL=index.css.map */