footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0.5em ;
    padding-left: 0.5em ;
    
    img{
      width: 80px;
    }
  
    span {
      display: block;
      font-family: $font1;
      font-size: 1.5em;
      font-weight: 200;
    }
    span:nth-child(1) {
      margin-right: 1em;
    }
    .span_positif {
      margin-left: 1em;
    }
  
    .follow {
      .fa-brands {
        position: absolute;
        top: 45%;
        translate: (-40% 0);
        right: 25px;
        font-size: 1.4em;
      }
    }
  
    .mention {
      font-family: $font2;
      color: $yellow;
      font-size: 0.7em;
      text-decoration: none;
      display: block;
    }
    .copyright {
      font-family: $font2;
      color: $yellow;
      font-size: 0.7em;
      text-decoration: none;
      display: block;
    }
  }


