header {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
  .t {
    display: flex;
    align-items: center;
    nav {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          position: relative;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: $white;
          font-size: 1.375em;
          font-family: $font2;
          font-weight:500;
          margin-right: 2em;
     
        }
     

        a {
          display: inline-block;
          position: relative;
          padding: 10px 20px;
          transition: all 0.3s ease;
          background-repeat: no-repeat;
        }
        
        a:hover {
          color: $yellow;
        }
        a::after {
          content: url(../img/hover.svg);
          width: 100%;
          background-size: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }
        
        a:hover::after {
          transform: scaleX(1);
          transform-origin: right;
        }
      }
    }

  
  }

  @media only screen and (max-width: 990px) {
    .menu_toggle {
      height: 50px;
      position: fixed;
      right: 10px;
      top: 10px;
      width: 50px;
      z-index: 999;
      padding: 5px;
    }
    .active {
      .oneRod {
        transform: rotate(45deg) translate(7px, 7px);
      }
      .twoRod {
        opacity: 0;
      }
      .threeRod {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    .oneRod,
    .twoRod,
    .threeRod {
      background: $yellow;
      transition-duration: 0.3s;
      width: 25px;
      height: 3px;
      margin: 6px;
      backface-visibility: hidden;
    }

    .t {
      display: none;
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      &.overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.781);
        height: 100vh;
        width: 100vw;
      }
    }

    nav {
      display: flex;
      align-content: center;
      ul {
        flex-direction: column;
        padding: 0;
        position: absolute;
        left: 53%;
        top: 50%;
        transform: translate(-50%, -50%);

        li {
          position: relative;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          margin-bottom: 3em;
          color: $white;
          font-size: 0.9em;
          font-family: $font1;
          margin-right: 2em;
          img {
            width: 16px;
            height: 16px;
            margin-right: 1em;
          }
        }
 
     
      }
    }


  }
}
