.home {


 
  .share {
    z-index: 2;
    position: fixed;
    right: 15px;
    bottom: 50%;
    span {
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: block;
      margin-bottom: 1em;
      color: $white;
    }
    .fa-brands {
      color: $yellow;
      font-size: 1.2em;
    }
  }

  #svg {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  #svg path * {
    stroke-linecap: square;
    fill-opacity: 0;
    transition: fill-opacity 1s;
  }
  #svg.finished * {
    fill-opacity: 1;
  }
  .styles_noise__LtUjd {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 1;
  }

  .styles_noise__LtUjd::after {
    content: "";
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-position: 50%;
    position: absolute;
    left: -10rem;
    top: -10rem;
    background-image: url(../img/noise.png);
    will-change: transform;
    animation: styles_noise__LtUjd 1s steps(2) infinite;
  }

  @keyframes styles_noise__LtUjd {
    0% {
      transform: translate3d(0,9rem,0);
    }
    10% {
      transform: translate3d(-1rem,-4rem,0);
    }
    20% {
      transform: translate3d(-8rem,2rem,0);
    }
    30% {
      transform: translate3d(9rem,-9rem,0);
    }
    40% {
      transform: translate3d(-2rem,7rem,0);
    }
    50% {
      transform: translate3d(-9rem,-4rem,0);
    }
    60% {
      transform: translate3d(2rem,6rem,0);
    }
    70% {
      transform: translate3d(7rem,-8rem,0);
    }
    80% {
      transform: translate3d(-9rem,1rem,0);
    }
    90% {
      transform: translate3d(6rem,-5rem,0);
    }
    100% {
      transform: translate3d(-7rem,0,0);
    }
    
  }
  .blurBlue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #103D47;
    border-radius: 100%;
    font-size: 250px;
    height: 80%;
    width: 80%;
    filter: blur(204px);
  
}
  .frame_right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .frame_left {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .vertical {
    font-family: $font2;
    border-right: 2px solid #a90000;
    color: $yellow;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    animation-name: vertical;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    font-size: 0.8em;
    writing-mode: tb-rl;
    text-orientation: mixed;
    vertical-align: sub;
    text-align: center;
    letter-spacing: 4px;
  }
}
.background_black {

  background: #0000005c;
  height: 100vh;
  width: 100vw;

}


@keyframes vertical {
  0% {
    bottom: 10%;
  }

  50% {
    bottom: 12%;
  }

  100% {
    bottom: 10%;
  }
}

@media only screen and (max-width: 990px) {


  .home #svg {
    width: 343px;
    left: 50%;
  }
  .home{
  .frame_left {
    top: 54%;
  }}
}


@media only screen and (max-width: 448px) {


  .home #svg {
    width: 243px;
  }
  .home{
    .frame_left {
      top: 53%;
    }}
}
