.lateam {
  position: relative;
  //top: -20%;
  h1 {
    font-size: 1.2em;
    font-family: $font1;
    text-transform: uppercase;
    margin-top: 4em;
    text-align: center;
    img:first-child {
      margin-right: 0.5em;
    }
    img:last-child {
      margin-left: 0.5em;
    }
  }
  .container_team {
    display: flex;
    margin-top: 5em;
    .team {
      position: relative;
      width: 50%;
      background-image: url(../img/cadre.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 520px;
      img{
        width: 170px;
        left: 50%;  
        position: absolute;
        top: 110px;
        transform: translate(-50%, -50%);
      }
      .team_info {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        width: 50%;
   
        h2 {
          font-family: $font1;
          text-align: center;
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .lateam {
    position: relative;
    //top: -20%;
    h1 {
      font-size: 1.2em;
      font-family: $font1;
      text-transform: uppercase;
      margin-top: 1em;
      text-align: center;
      img:first-child {
        margin-right: 0.5em;
      }
      img:last-child {
        margin-left: 0.5em;
      }
    }
    .container_team {
      display: block;
      margin-top: 5em;
      .team {
        width: 100%;
      }
    }
  }
}
