.realisation {
 //height: 100vh;
  
 
  h1 {
    text-align: center;
font-family: "Roboto", sans-serif;
opacity: 0.3;
font-size: 7em;
padding-top: 0.5em;
 
  }
  .text_realisation {
    width: 70%;
    font-size: 0.9em;
    margin: 4em auto 4em auto;
    text-align: justify;
  }

  .container_realisation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
  }

  .right {
 
    margin-bottom: 5em;

    img {
      border-radius: 35px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.2s ease-in-out;
   
      &:hover {
      
        transform: scale(1);
      }
    }
  }
}

@media only screen and (max-width: 900px) {


   
.realisation{


  .container_realisation {
    margin-top: 4em;
    display: block;
   transform: none;
   
   
  }
  .right{
    width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
 
}
  }


}


}

@media only screen and (max-width: 440px) {
  .realisation{

    h1 {
  font-size: 4em;
  
    }  
  
  }

}